name: Rust CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # alloc crate requires Rust 1.36
        rust: ["1.56", stable, beta, nightly]
        features: ["default", "num-traits"]
    steps:
    - uses: actions/checkout@v2
    - run: rustup default ${{ matrix.rust }}
    - name: build
      run: >
        cargo build --no-default-features --features=${{ matrix.features }} --verbose
    - name: test
      run: >
        cargo test --no-default-features --features=${{ matrix.features }} --tests --benches
      # TODO: add criterion benchmarks?
  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
        components: rustfmt
    - name: Run rustfmt check
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: -- --check

  no_std_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
    - name: build
      run: >
         cargo no-std-check --no-default-features --features=num-traits
